.container {
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: var(--color2);
  height: 80px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.486);

  .innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}

.searchBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  border-radius: 18px;
  background-color: var(--color3);
  color: var(--color5);
  padding: 1rem;

  input {
    background: none;
    border: none;
    color: var(--color1);
    
    &::placeholder {
      color: var(--color1);
    }
    &:focus {
      outline: none;
    }
  }
}

.loginBtn {
  button{
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 8px;
    color: var(--color5);
}
}