.container {
  height: 100%;
  padding: 2rem;
}

.description {
  padding: 1rem;
  background-color: var(--color3);
  color: var(--color1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.452);
}

.stats {
  display: flex;
  gap: 1rem;
  background-color: var(--color2);
  border-radius: 20px;
  padding: 1rem;
  span {
    color: var(--color5)
  }
}